<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <a href="/post/{{id}}">{{title}}</a>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{truncate content 200}}

      <br />
      <strong>Posted by:</strong>
      {{user.username}}
      <br />
      <strong>Date:</strong>
      {{format_date createdAt}}
    </div>
  </div>
  <footer class="card-footer">
    {{#if isAuthor}}
      <a
        href="/dashboard/edit/{{id}}"
        class="card-footer-item"
        id="edit-post"
        data-post-id="{{id}}"
      >Edit</a>
      <button
        class="card-footer-item"
        id="delete-post"
        data-post-id="{{id}}"
      >Delete</button>
    {{/if}}
    <a
      href="/post/{{id}}#comments"
      class="card-footer-item"
      id="comment-post"
      data-post-id="{{id}}"
    >Comment</a>
  </footer>
</div>
<br />